<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>
                <button class="delete" data-id="{{id}}"></button>
                {{#if active}}
                    jaja
                {{else}}
                    nono
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>