.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin-right: 10px;
}

.action-icon {
    cursor: pointer;
    margin-right: 10px;
}

.add-btn {
    position: fixed;
    bottom: 45px;
    right: 24px;
}
